{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block scripts %}


{% endblock %}

{% block styles %}
<style>
    body{
        background-color: #f7f7f7;
    }
    .header {  
        padding-top: 25px;
        font-size: 26px;
        height:80px; 
    }

    .alert {
        position:fixed; 
        top:  10%;
        left: 25%;  
        width: 50%;
        z-index:9999; 
        border-radius:0px
    }

    /* .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    } */

    .device {
        text-align: center; 
    }  

    .dataTables_length {
        float: left;
    }

    .dataTables_info {
        float: left;
    }

    .addBtn{
        height:60px; 
    }  

    .container-fluid{
        padding: 0 100px;
    }

    .modal-body{
        text-align: left; 
        padding-bottom: 0;
        margin: 0;
    }

    .btn.disabled {
        pointer-events: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- test flashing -->
    <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} 
                    <p>hai</p>  
                    {% for category, message in messages %}
                        <p> {{category}} - {{message}}</p> 
                    {% endfor %} 
                {% endif %}
            {% endwith %}
        </div>
    </div> -->
    
    <!-- test collapsible alerts -->
    <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-5"> -->
            <!-- <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> You have been signed in successfully!
            </div> -->
        <!-- </div>
    </div> -->

    <!-- alert handler -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if messages %} 
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{message}}
                </div>
            {% endif %} 
        {% endfor %}
    {% endwith %}


    <div class="header"> Product Dashboard</div> 

    <!-- tabel list product -->
    <div class="device">
        <div class="table-responsive"> 
            <table id ="generalInfo" class="table table-bordered">
                <!-- row headers -->
                <thead class="table-light">
                    <tr>
                        <th class="align-middle" scope="col">ID</th>
                        <th class="align-middle" scope="col">S1 status</th>
                        <th class="align-middle" scope="col">S2 soc</th>
                        <th class="align-middle" scope="col">S2 status</th>
                        <th class="align-middle" scope="col">S2 soc</th> 
                        <th class="align-middle" scope="col">Last Updated</th>
                        <th class="align-middle" scope="col">Charge Mode</th>
                        <th class="align-middle" scope="col" >Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for x in range (0, product_count) %}
                    <tr>
                        <!-- product id -->
                        <th class="align-middle" scope="row">  
                            {{ latest_data[x]['pid'] }}
                        </th>

                        <!-- slot 1 status -->
                        <td class="align-middle"> 
                            {% if latest_data[x]['s1_stat'] == 0 %} 
                                Idle
                            {% elif latest_data[x]['s1_stat'] == '-' %}
                                N/A 
                            {% else %}
                                Charging
                            {% endif %}
                        </td>

                        <!-- slot 1 soc -->
                        <td class="align-middle">{{ latest_data[x]['s1_soc'] }}</td> 

                        <!-- slot 2 status -->
                        <td class="align-middle">
                            {% if latest_data[x]['s2_stat'] == 0 %} 
                                Idle
                            {% elif latest_data[x]['s2_stat'] == '-' %}
                                N/A 
                            {% else %}
                                Charging
                            {% endif %}
                        </td>

                        <!-- slot 2 soc -->
                        <td class="align-middle">{{ latest_data[x]['s2_soc'] }}</td>

                        <!-- latest update time [slot] -->
                        <td class="align-middle"> 
                            {% if latest_data[x]['latestTime'] == '-' %} 
                                N/A  
                            {% else %}
                                {{ latest_data[x]['latestTime'] }} 
                                [{{ latest_data[x]['latestSlot'] }}] 
                            {% endif %}
                        </td>

                        <!-- charging mode -->
                        <td class="align-middle">
                            {% if latest_data[x]['chgMode'] == 0 %} 
                                Slow Charging
                            {% elif latest_data[x]['chgMode'] == 1 %} 
                                Fast Charging
                            {% elif latest_data[x]['chgMode'] == '-' %}
                                N/A 
                            {% else %}
                                Not Charging
                            {% endif %}
                        </td>

                        <!-- button actions -->
                        <td class="align-middle" style="width:200px">    
                            <div class="btn-group"> 
                                {% set selection = latest_data[x]['pid'] %} 
                                {% set displayArgs = "charger" + latest_data[x]['pid']|string %} 
                                <!-- button more details -->
                                {% if latest_data[x]['s1_stat'] == '-' and latest_data[x]['s2_stat'] == '-' %}  
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled. No charging data has been received">
                                        <button type="button" class="btn btn-secondary" disabled>
                                            <i class='bx bx-menu-alt-right' ></i>
                                        </button>
                                    </span>
                                {% else %} 
                                    <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for( 'display' , deviceSelect=displayArgs ) }}';">
                                        <i class='bx bx-menu-alt-right' ></i>
                                    </button>
                                {% endif %} 
                                <a> &nbsp </a>

                                <!-- button enable/disable -->
                                {% if latest_data[x]['enable'] == 1 %}
                                    {% set classBtn = 'btn-success' %}
                                {% else %} 
                                    {% set classBtn = 'btn-outline-success' %}
                                {% endif %} 
                                <form action="#" method="post"> 
                                    <input type="hidden" name="changeEnableIndex" value="{{selection}}"></input> 
                                    <button type="submit" class="btn {{classBtn}}" name="submit_button" value="changeEnableSubmit"> 
                                        <i class='bx bx-power-off'></i> 
                                    </button> 
                                </form>
                                <a> &nbsp </a>

                                <!-- button delete -->
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteRow{{x}}" >
                                    <i class='bx bx-trash-alt' ></i>
                                </button>

                                <!-- Modal window -->
                                <div class="modal fade" id="deleteRow{{x}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">  
                                                Remove Charger {{ selection }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p> Charger {{ selection }}'s data will be permanently deleted </p>
                                            <p> Continue? </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                Close
                                            </button>
                                            <!-- TEST FORM BOOTSTRAP -->
                                            <form action="#" method="post"> 
                                                <input type="hidden" name="deleteIndex" value="{{selection}}"></input>
                                                <button type="submit" class="btn btn-danger" name="submit_button" value="deleteIndexSubmit">Proceed</button> 
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <p></p>
    </div>

    
</div>

{% endblock %}

{% block scriptBottom %} 

<!-- <script src="js/jquery.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#generalInfo').DataTable({   
            // "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "order": [[ 0, "asc" ]],
            lengthMenu: [5, 10, 20, 50, 100, 200],
            bLengthChange: true, 
            "columnDefs": [
                { "orderable": false, "targets": [7] }
            ]
            
        });
        
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 3000);
 
    });
 
</script>
 
{% endblock %}
 