{% extends "base.html" %}
{% block title %} Charger {% endblock %}

{% block scripts %} 
<!-- <meta http-equiv="refresh" content="5" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD62AEOgl0CjwL8dGWcl4fLG5IoiwHHghw&callback=initMap"
    type="text/javascript">
</script>

<script  type="text/javascript"> 
    function initMap() {
        var coords = { lat: {{ lat }}, lng: {{ lon }} };  
        // var coords = { lat: -6.8770328, lng: 107.6123459 };
        var map = new google.maps.Map(document.getElementById('map'),{
            center: coords,
            disableDefaultUI: true,
            zoom: 16
        });

        var marker1 = new google.maps.Marker({
            position: coords,
            map: map
        });

    } 
</script>

{% endblock %}

{% block styles %} 
<style>
    body {
        margin: 0;
        background-color: #f7f7f7;
    }
 

    .container-fluid {      

        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
 

    }

    .container-fluid div {
        padding: 10px;
    }

    .dataTables_length {
        float: right;
    }

    .dataTables_info {
        float: left;
    }

    .table-sm {
        text-align: center; 
    }

    .table-sm {
        text-align: center; 
    }
  
    .card{
        height:250px; 
        padding:0px; 
    } 

    .card-img-top{
        padding-top: 2em;
        padding-bottom: 1em;
        max-width: 25%; 
        height: auto;
        align-self: center;   
    }
    .col-sm-8 { 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    .col-sm-1{
        align-content: center;
        text-align: center;
    } 
    .card{
        background-color: #f7f7f7;
    } 
    .card-title{
        font-weight: bold;
    }
    .card-text{
        font-size: 14px;
        text-align: center;
    } 
    .container-fluid{
        padding: 0 100px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="margin-top: 15px; margin-bottom:0; padding-bottom:0; margin-left:0"> 
        <h4 style="margin:0; padding:0">Battery #{{ batt_sn }}</h4> 
    </div> 

    <div class="row" style="margin:0; padding:0">
        <div class="table-responsive" style="margin:0; padding:0"> 
            <table id="slot1" class="table table-sm table-bordered">
                <thead class="table-light" >
                    <tr>
                        <th scope="col" rowspan = "2">#</th>
                        <th scope="col" colspan = "4">Initial charge</th>
                        <th scope="col" colspan = "4">Finish charge</th> 
                    </tr>
                    <tr>
                        <th scope="col">Start Time</th>
                        <th scope="col">SOC</th>
                        <th scope="col">SOH</th>
                        <th scope="col">Volt</th>
                        <th scope="col">Finish Time</th>
                        <th scope="col">SOC</th>
                        <th scope="col">SOH</th>
                        <th scope="col">Volt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in range (0,lenValid) %}
                    <tr>
                        <th scope="row"> {{ x + 1 }}</th>
                        <td>{{ batt_data[x]['init_time'] }}</td>
                        <td>{{ batt_data[x]['init_soc'] }}</td>
                        <td>{{ batt_data[x]['init_soh'] }}</td>
                        <td>{{ batt_data[x]['init_volt'] }}</td>
                        <td>{{ batt_data[x]['fin_time'] }}</td>
                        <td>{{ batt_data[x]['fin_soc'] }}</td>
                        <td>{{ batt_data[x]['fin_soh'] }}</td>
                        <td>{{ batt_data[x]['fin_volt'] }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>

</div>

{% endblock %}

{% block scriptBottom %} 
<script>
    $(document).ready(function () {
        $('#slot1').DataTable({  
            "order": [[ 0, "desc" ]],
            lengthMenu: [5, 10, 20, 50, 100, 200],
            dom: '<"row"<"col-sm-6"<"toolbar1">><"col-sm-6"l>>rtp',
            pageLength : 5, 
            });

        $('#slot2').DataTable({   
            "order": [[ 0, "desc" ]],
            lengthMenu: [5, 10, 20, 50, 100, 200],
            dom: '<"row"<"col-sm-6"<"toolbar2">><"col-sm-6"l>>rtp',
            pageLength : 5, 
            });

        $('#example').DataTable( {
            "dom": '<"toolbar">frtip'
        });

        $("div.toolbar1").html(' <h6>Invalid charging cycles = {{ lenInvalid }}</h6> ');
     
        }); 
        

</script>
{% endblock %}