body {
    margin: 0; 
}
  
.container-fluid div {
    padding: 10px;
} 

.table-bordered {
    text-align: center;
}

th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

th:first-child {
    border-left: 1px solid #dddddd;
} 

.battsn-col-width {
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    padding-bottom:0px;  
    padding-top:0px;  
    text-align: left;
} 